# Email configuration
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# JWT and Auth
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
MONGODB_URI=
GEMINI_API_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
VITE_RAZORPAY_KEY_ID=
